* {
  font-family: 'Inter', 'Segoe UI', 'Roboto', sans-serif;
}
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  padding: 2rem 0rem;height: 100vh;
}
.section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  position: relative;
}

.section-title:before {
  content: "";
  position: absolute;
  display: block;
  width: 10rem;
  height: 0.0625rem;
  background:
    color-mix(in srgb, #212529e8, transparent 60%);
  left: 0;
  right: 0;
  bottom: 0.0625rem;
  margin: auto;
}

.section-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 3.75rem;
  height: 0.1875rem;
  background: #212529e8;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.navbar-nav .nav-link {
  font-weight: normal;
}
.product-details-list .product-title {
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  height: calc(1.5em * 1); /* 4 lines of text */
}
.product-details-list .product-description {
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  height: calc(1.5em * 4); /* 4 lines of text */
}
.w-fit{
  width: fit-content !important;
}

#products-container .product-details-list,
#users-container .user-details-list{
  border: 0.0625rem solid #e9e4e4 !important;
    background: #fff !important;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 0.625rem rgb(197,186,186,0.3);
}

#users-container .user-details-list .user-info .w-28{
  width: 7rem;
}

#users-container .user-details-list .user-info .w-4{
  width: 1rem;
}

#users-container .user-details-list img,
#products-container .product-details-list .w-48.h-48{
  width: 12rem;height:12rem;object-fit: contain;
}
/* Responsive:screens */

@media (max-width: 450px) {
  .navbar {
    min-height: 3.5rem;
    background: #212529e8;
  }

}