* {
  font-family: 'Inter', 'Segoe UI', 'Roboto', sans-serif;
}
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  padding: 30px;
}
.section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  position: relative;
}

.section-title:before {
  content: "";
  position: absolute;
  display: block;
  width: 10rem;
  height: 0.0625rem;
  background:
    color-mix(in srgb, #212529e8, transparent 60%);
  left: 0;
  right: 0;
  bottom: 0.0625rem;
  margin: auto;
}

.section-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 3.75rem;
  height: 0.1875rem;
  background: #212529e8;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.navbar-nav .nav-link {
  font-weight: normal;
}


.calculator {
  max-width: 400px;
  margin: auto;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input#result {
  font-size: 1.5rem;
  text-align: right;
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 10px;
}
button {
  font-size: 1.2rem;
}

/* Responsive:screens */

@media (max-width: 450px) {
  .navbar {
    min-height: 3.5rem;
    background: #212529e8;
  }

}